<meta charset="UTF-8">
<div class="col-lg-5 col-sm-8 col-lg-offset-3 col-sm-offset-2">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="search-group">
				<div class="search-block">
		    		<input type="search" class="form-control" placeholder="请输入要查询的类型...">
		        	<span class="btn-group"><button type="button" class="btn btn-primary waves-effect">查询</button></span>
		    	</div>
			</div>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group">
				<div class="form-line">
					<select class="form-control show-tick" id="userSel">
	                    <option value="">请选择类型</option>
	                    <option value="10">10</option>
	                    <option value="20">20</option>
	                    <option value="30">30</option>
	                    <option value="40">40</option>
	                    <option value="50">50</option>
	                </select>
				</div>
		   </div>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group">
				<div class="form-line">
					<input type="text" class="form-control" placeholder="请输入用户名">
				</div>
		   </div>
		</div>
		
	</div>
</div>
