<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinwei.process.dao.CommonBizMapper" >
  <resultMap id="BaseResultMap" type="com.xinwei.process.entity.CommonBiz" >
    <id column="data_id" property="dataId" jdbcType="VARCHAR" />
    <result column="project_category" property="projectCategory" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="service_type" property="serviceType" jdbcType="VARCHAR" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="create_person_name" property="createPersonName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="service_owner" property="serviceOwner" jdbcType="VARCHAR" />
    <result column="process_instance_id" property="processInstanceId" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="ext_activiti_info" property="extActivitiInfo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="ext_status" property="extStatus" jdbcType="VARCHAR" />
    <result column="data2" property="data2" jdbcType="VARCHAR" />
    <result column="data3" property="data3" jdbcType="VARCHAR" />
    <result column="data4" property="data4" jdbcType="VARCHAR" />
    <result column="data5" property="data5" jdbcType="VARCHAR" />
    <result column="data6" property="data6" jdbcType="VARCHAR" />
    <result column="data7" property="data7" jdbcType="VARCHAR" />
    <result column="data8" property="data8" jdbcType="VARCHAR" />
    <result column="data9" property="data9" jdbcType="VARCHAR" />
    <result column="data10" property="data10" jdbcType="VARCHAR" />
    <result column="data1" property="data1" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_common_biz
    where data_id = #{dataId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xinwei.process.entity.CommonBiz" >
    insert into tb_common_biz (data_id, project_category, project_id, 
      project_name, service_type, create_person, 
      create_person_name, create_time, update_person, 
      update_time, result, service_owner, 
      process_instance_id, task_id, ext_activiti_info, 
      status, ext_status, data2, 
      data3, data4, data5, 
      data6, data7, data8, 
      data9, data10, data1
      )
    values (#{dataId,jdbcType=VARCHAR}, #{projectCategory,jdbcType=VARCHAR}, #{projectId,jdbcType=BIGINT}, 
      #{projectName,jdbcType=VARCHAR}, #{serviceType,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR}, 
      #{createPersonName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{result,jdbcType=VARCHAR}, #{serviceOwner,jdbcType=VARCHAR}, 
      #{processInstanceId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{extActivitiInfo,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{extStatus,jdbcType=VARCHAR}, #{data2,jdbcType=VARCHAR}, 
      #{data3,jdbcType=VARCHAR}, #{data4,jdbcType=VARCHAR}, #{data5,jdbcType=VARCHAR}, 
      #{data6,jdbcType=VARCHAR}, #{data7,jdbcType=VARCHAR}, #{data8,jdbcType=VARCHAR}, 
      #{data9,jdbcType=VARCHAR}, #{data10,jdbcType=VARCHAR}, #{data1,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xinwei.process.entity.CommonBiz" >
    update tb_common_biz
    set project_category = #{projectCategory,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=BIGINT},
      project_name = #{projectName,jdbcType=VARCHAR},
      service_type = #{serviceType,jdbcType=VARCHAR},
      create_person = #{createPerson,jdbcType=VARCHAR},
      create_person_name = #{createPersonName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=VARCHAR},
      service_owner = #{serviceOwner,jdbcType=VARCHAR},
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      ext_activiti_info = #{extActivitiInfo,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      ext_status = #{extStatus,jdbcType=VARCHAR},
      data2 = #{data2,jdbcType=VARCHAR},
      data3 = #{data3,jdbcType=VARCHAR},
      data4 = #{data4,jdbcType=VARCHAR},
      data5 = #{data5,jdbcType=VARCHAR},
      data6 = #{data6,jdbcType=VARCHAR},
      data7 = #{data7,jdbcType=VARCHAR},
      data8 = #{data8,jdbcType=VARCHAR},
      data9 = #{data9,jdbcType=VARCHAR},
      data10 = #{data10,jdbcType=VARCHAR},
      data1 = #{data1,jdbcType=LONGVARCHAR}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select data_id, project_category, project_id, project_name, service_type, create_person, 
    create_person_name, create_time, update_person, update_time, result, service_owner, 
    process_instance_id, task_id, ext_activiti_info, status, ext_status, data2, data3, 
    data4, data5, data6, data7, data8, data9, data10, data1
    from tb_common_biz
    where data_id = #{dataId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select data_id, project_category, project_id, project_name, service_type, create_person, 
    create_person_name, create_time, update_person, update_time, result, service_owner, 
    process_instance_id, task_id, ext_activiti_info, status, ext_status, data2, data3, 
    data4, data5, data6, data7, data8, data9, data10, data1
    from tb_common_biz
  </select>
  
  <update id="updateProcessInstanceAndTaskIdByDataId" parameterType="com.xinwei.process.entity.CommonBiz" >
    update tb_common_biz
    set     
      process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR}
      where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateApprovalChangeByDataId" parameterType="com.xinwei.process.entity.CommonBiz" >
    update tb_common_biz
    set update_person = #{updatePerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  
  
   <update id="updateChangeStatusByDataId" parameterType="com.xinwei.process.entity.CommonBiz" >
    update tb_common_biz
    set status = #{status,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectByProjectIdAndStatus" resultMap="BaseResultMap" >
    select data_id, project_category, project_id, project_name, service_type, create_person, create_person_name,create_time, 
    update_person, update_time, result, service_owner, process_instance_id, task_id, 
    ext_activiti_info, status, ext_status, data1, data2, data3, data4, data5, data6, 
    data7, data8, data9, data10
    from tb_common_biz
    where project_id = #{projectId,jdbcType=BIGINT} and  status = #{status,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByProjectId" resultMap="BaseResultMap" >
    select data_id, project_category, project_id, project_name, service_type, create_person, create_person_name,create_time, 
    update_person, update_time, result, service_owner, process_instance_id, task_id, 
    ext_activiti_info, status, ext_status, data1, data2, data3, data4, data5, data6, 
    data7, data8, data9, data10
    from tb_common_biz
    where project_id = #{projectId,jdbcType=BIGINT}
    order by create_time
  </select>
  
  <select id="selectByProjectIdAndServiceType" resultMap="BaseResultMap" >
    select data_id, project_category, project_id, project_name, service_type, create_person, create_person_name,create_time, 
    update_person, update_time, result, service_owner, process_instance_id, task_id, 
    ext_activiti_info, status, ext_status, data1, data2, data3, data4, data5, data6, 
    data7, data8, data9, data10
    from tb_common_biz
    where project_id = #{projectId,jdbcType=BIGINT} 
    and service_type = #{serviceType,jdbcType=VARCHAR}
    order by create_time
  </select>
  
  <select id="countMonthReportAndCheck" resultType="java.lang.Long" >
    select count(1)
    from tb_common_biz
    where project_category = #{projectCategory,jdbcType=BIGINT} 
    and service_type in ('submitMonthlyReport','submitMonthlyCheck')
  </select>
  <select id="selectMonthReportAndCheck" resultMap="BaseResultMap" >
    select data_id, project_category, project_id, project_name, service_type, create_person, create_person_name,create_time, 
    update_person, update_time, result
    from tb_common_biz
    where project_category = #{projectCategory,jdbcType=BIGINT} 
    and service_type in ('submitMonthlyReport','submitMonthlyCheck')
    order by project_id asc
    limit #{startRow},#{pageSize}
  </select>
  
  <select id="countByCategoryTypePersonProjectName" resultType="java.lang.Long" >
    select count(1)
    from tb_common_biz
    where 1= 1 <include refid="queryString" />
  </select>
  <select id="selectByCategoryTypePersonProjectName" resultMap="BaseResultMap" >
    select data_id, project_category, project_id, project_name, service_type, create_person, create_person_name,create_time, 
    update_person, update_time, result, data1, data2
    from tb_common_biz
    where 1= 1 <include refid="queryString" />
    order by project_id asc
    limit #{startRow},#{pageSize}
  </select>
  
  <sql id="queryString">
   	     <if test="projectCategory != null and projectCategory !=''">
			 	and project_category = #{projectCategory,jdbcType=VARCHAR}  
	 	 </if> 
	 	 <if test="serviceType != null and serviceType !=''">
			 	and service_type = #{serviceType,jdbcType=VARCHAR}
	 	 </if> 
	 	 <if test="createPerson != null and createPerson !=''">
			 	 and create_person = #{createPerson,jdbcType=VARCHAR}
	 	 </if> 
	 	 <if test="projectName != null and projectName !=''">
			 	and project_name like CONCAT('%',#{projectName},'%')
	 	 </if> 
	 	 <if test="serviceOwner != null and serviceOwner !=''">
			 	and service_owner like CONCAT('%',#{serviceOwner},'%')
	 	 </if>
  	</sql>
</mapper>