<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinwei.process.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.xinwei.process.entity.Project" >
    <id column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_manager_id" property="projectManagerId" jdbcType="BIGINT" />
    <result column="project_manager_name" property="projectManagerName" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="subcategory" property="subcategory" jdbcType="VARCHAR" />
    <result column="cycle_type" property="cycleType" jdbcType="VARCHAR" />
    <result column="main_current_state" property="mainCurrentState" jdbcType="VARCHAR" />
    <result column="main_previous_state" property="mainPreviousState" jdbcType="VARCHAR" />
    <result column="change_current_state" property="changeCurrentState" jdbcType="VARCHAR" />
    <result column="change_previous_state" property="changePreviousState" jdbcType="VARCHAR" />
    <result column="change_data_id" property="changeDataId" jdbcType="VARCHAR" />
    <result column="report_current_state" property="reportCurrentState" jdbcType="VARCHAR" />
    <result column="project_process_instance_id" property="projectProcessInstanceId" jdbcType="VARCHAR" />
    <result column="change_process_instance_id" property="changeProcessInstanceId" jdbcType="VARCHAR" />
    <result column="project_ext_info" property="projectExtInfo" jdbcType="VARCHAR" />
    <result column="project_task_detail" property="projectTaskDetail" jdbcType="VARCHAR" />
    <result column="self_appraise" property="selfAppraise" jdbcType="VARCHAR" />
    <result column="depart_leader_appraise" property="departLeaderAppraise" jdbcType="VARCHAR" />
    <result column="project_costs" property="projectCosts" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="project_apply_time" property="projectApplyTime" jdbcType="TIMESTAMP" />
    <result column="project_apply_person" property="projectApplyPerson" jdbcType="VARCHAR" />
    <result column="telno" property="telno" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="project_milestone" property="projectMilestone" jdbcType="VARCHAR" />
    <result column="publish_id" property="publishId" jdbcType="BIGINT" />
    <result column="publish_title" property="publishTitle" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_project
    where project_id = #{projectId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xinwei.process.entity.Project" >
    insert into tb_project (project_id, project_name, project_manager_id, 
      project_manager_name, category_id, subcategory, 
      cycle_type, main_current_state, main_previous_state, 
      change_current_state, change_previous_state, 
      change_data_id, report_current_state, project_process_instance_id, 
      change_process_instance_id, project_ext_info, 
      project_task_detail, self_appraise, depart_leader_appraise, 
      project_costs, start_time, complete_time, 
      project_apply_time, project_apply_person, 
      telno, email, project_milestone, 
      publish_id, publish_title, state
      )
    values (#{projectId,jdbcType=BIGINT}, #{projectName,jdbcType=VARCHAR}, #{projectManagerId,jdbcType=BIGINT}, 
      #{projectManagerName,jdbcType=VARCHAR}, #{categoryId,jdbcType=BIGINT}, #{subcategory,jdbcType=VARCHAR}, 
      #{cycleType,jdbcType=VARCHAR}, #{mainCurrentState,jdbcType=VARCHAR}, #{mainPreviousState,jdbcType=VARCHAR}, 
      #{changeCurrentState,jdbcType=VARCHAR}, #{changePreviousState,jdbcType=VARCHAR}, 
      #{changeDataId,jdbcType=VARCHAR}, #{reportCurrentState,jdbcType=VARCHAR}, #{projectProcessInstanceId,jdbcType=VARCHAR}, 
      #{changeProcessInstanceId,jdbcType=VARCHAR}, #{projectExtInfo,jdbcType=VARCHAR}, 
      #{projectTaskDetail,jdbcType=VARCHAR}, #{selfAppraise,jdbcType=VARCHAR}, #{departLeaderAppraise,jdbcType=VARCHAR}, 
      #{projectCosts,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{completeTime,jdbcType=TIMESTAMP}, 
      #{projectApplyTime,jdbcType=TIMESTAMP}, #{projectApplyPerson,jdbcType=VARCHAR}, 
      #{telno,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{projectMilestone,jdbcType=VARCHAR}, 
      #{publishId,jdbcType=BIGINT}, #{publishTitle,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xinwei.process.entity.Project" >
    update tb_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      project_manager_id = #{projectManagerId,jdbcType=BIGINT},
      project_manager_name = #{projectManagerName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=BIGINT},
      subcategory = #{subcategory,jdbcType=VARCHAR},
      cycle_type = #{cycleType,jdbcType=VARCHAR},
      main_current_state = #{mainCurrentState,jdbcType=VARCHAR},
      main_previous_state = #{mainPreviousState,jdbcType=VARCHAR},
      change_current_state = #{changeCurrentState,jdbcType=VARCHAR},
      change_previous_state = #{changePreviousState,jdbcType=VARCHAR},
      change_data_id = #{changeDataId,jdbcType=VARCHAR},
      report_current_state = #{reportCurrentState,jdbcType=VARCHAR},
      project_process_instance_id = #{projectProcessInstanceId,jdbcType=VARCHAR},
      change_process_instance_id = #{changeProcessInstanceId,jdbcType=VARCHAR},
      project_ext_info = #{projectExtInfo,jdbcType=VARCHAR},
      project_task_detail = #{projectTaskDetail,jdbcType=VARCHAR},
      self_appraise = #{selfAppraise,jdbcType=VARCHAR},
      depart_leader_appraise = #{departLeaderAppraise,jdbcType=VARCHAR},
      project_costs = #{projectCosts,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      project_apply_time = #{projectApplyTime,jdbcType=TIMESTAMP},
      project_apply_person = #{projectApplyPerson,jdbcType=VARCHAR},
      telno = #{telno,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      project_milestone = #{projectMilestone,jdbcType=VARCHAR},
      publish_id = #{publishId,jdbcType=BIGINT},
      publish_title = #{publishTitle,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select project_id, project_name, project_manager_id, project_manager_name, category_id, 
    subcategory, cycle_type, main_current_state, main_previous_state, change_current_state, 
    change_previous_state, change_data_id, report_current_state, project_process_instance_id, 
    change_process_instance_id, project_ext_info, project_task_detail, self_appraise, 
    depart_leader_appraise, project_costs, start_time, complete_time, project_apply_time, 
    project_apply_person, telno, email, project_milestone, publish_id, publish_title, 
    state
    from tb_project
    where project_id = #{projectId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select project_id, project_name, project_manager_id, project_manager_name, category_id, 
    subcategory, cycle_type, main_current_state, main_previous_state, change_current_state, 
    change_previous_state, change_data_id, report_current_state, project_process_instance_id, 
    change_process_instance_id, project_ext_info, project_task_detail, self_appraise, 
    depart_leader_appraise, project_costs, start_time, complete_time, project_apply_time, 
    project_apply_person, telno, email, project_milestone, publish_id, publish_title, 
    state
    from tb_project
  </select>
   
  <select id="selectChangeInfoByProjectId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select change_current_state, 
    change_previous_state, change_data_id, change_process_instance_id
    from tb_project
    where project_id = #{projectId,jdbcType=BIGINT}
  </select>
  
  <select id="selectAllByCategoryIdAndState" resultMap="BaseResultMap" >
    select project_id, project_name,main_current_state
    from tb_project
    where category_id = #{categoryId} and  state = #{state} 
  </select>
  
  <select id="countByCategoryIdAndState" resultType="java.lang.Long" >
    select count(1)
    from tb_project
    where category_id = #{categoryId} and  state = #{state} 
  </select>
  
  <select id="getByCategoryIdAndState" resultMap="BaseResultMap" useCache="true">
    select * from tb_project 
    where category_id = #{categoryId} and state = #{state} 
    limit #{startRow},#{pageSize}
  </select>
  
  <select id="selectAllByProjectManagerIdCategoryIdAndState" resultMap="BaseResultMap" >
    select project_id, project_name,main_current_state
    from tb_project
    where project_manager_id = #{projectManagerId}  and category_id = #{categoryId} and  state = #{state} 
  </select>
  
  <select id="getProjectListByUserIdCount" resultType="java.lang.Long" useCache="true">
    select count(1) from tb_project 
    where project_manager_id = #{userId} and category_id = #{categoryId} 
    and state = 'start' and publish_id is null
   </select>
  <select id="getProjectListByUserId" resultMap="BaseResultMap" useCache="true">
    select * from tb_project 
       where project_manager_id = #{userId} and category_id = #{categoryId} 
       and state = 'start' and publish_id is null
     limit #{startRow},#{pageSize}
  </select>
    
  <select id="getFinishedProjectListByUserIdCount" resultType="java.lang.Long" useCache="true">
    select count(1) from tb_project 
     where project_manager_id = #{userId}  and category_id = #{categoryId} and state = 'end' 
   </select>
  <select id="getFinishedProjectListByUserId" resultMap="BaseResultMap" useCache="true">
    select * from tb_project 
       where project_manager_id = #{userId}  and category_id = #{categoryId} and state = 'end'
     limit #{startRow},#{pageSize}
  </select>
  
  <select id="countProjectsByCategoryId" resultType="java.lang.Long" useCache="true">
    select count(1) from tb_project 
    where category_id = #{categoryId} 
   </select>
  <select id="getProjectsByCategoryId" resultMap="BaseResultMap" useCache="true">
    select * from tb_project 
    where category_id = #{categoryId}
    limit #{startRow},#{pageSize}
  </select>
  
  <select id="countProjectsByProjectManagerIdCategoryId" resultType="java.lang.Long" useCache="true">
    select count(1) from tb_project 
    where project_manager_id = #{userId} and category_id = #{categoryId} 
   </select>
  <select id="getProjectsByProjectManagerIdCategoryId" resultMap="BaseResultMap" useCache="true">
    select * from tb_project 
    where project_manager_id = #{userId} and category_id = #{categoryId}
    limit #{startRow},#{pageSize}
  </select>
  
  <select id="countByProjectManagerIdCategoryIdAndState" resultType="java.lang.Long" useCache="true">
    select count(1) from tb_project 
    where project_manager_id = #{userId} and category_id = #{categoryId} and state = #{state}
   </select>
  <select id="getByProjectManagerIdCategoryIdAndState" resultMap="BaseResultMap" useCache="true">
    select * from tb_project 
    where project_manager_id = #{userId} and category_id = #{categoryId} and state = #{state}
    limit #{startRow},#{pageSize}
  </select>
  
  <select id="selectByApplyPersonAndPublishId" resultMap="BaseResultMap" useCache="true">
    select * from tb_project 
    where project_apply_person = #{projectApplyPerson,jdbcType=VARCHAR}
    and publish_id = #{publishId,jdbcType=BIGINT}
  </select>
  
  <select id="countApplyProjectListByUserIdAndCategoryId" resultType="java.lang.Long" useCache="true">
    select count(1) from tb_project 
    where project_apply_person = #{userId} and category_id = #{categoryId} and publish_id is not null
   </select>
  <select id="getApplyProjectListByUserIdAndCategoryId" resultMap="BaseResultMap" useCache="true">
    select project_id, project_name, project_manager_id, project_manager_name, category_id, 
    subcategory, cycle_type, main_current_state, main_previous_state, change_current_state, 
    change_previous_state, change_data_id, report_current_state, start_time, complete_time, project_apply_time, 
    project_apply_person, telno, email, project_milestone, publish_id, publish_title, 
    state 
    from tb_project 
    where project_apply_person = #{userId} and category_id = #{categoryId} and publish_id is not null
    limit #{startRow},#{pageSize}
  </select>
  
  <select id="selectByIdList" resultMap="BaseResultMap" >
    select project_id, project_name, project_manager_id, project_manager_name, category_id, 
    subcategory, cycle_type, main_current_state, main_previous_state, change_current_state, 
    change_previous_state, change_data_id, report_current_state, start_time, complete_time, project_apply_time, 
    project_apply_person, telno, email, project_milestone, publish_id, publish_title, 
    state 
    from tb_project 
    where project_id in (
    	<foreach collection="idList" item="projectId" separator="," >
				#{projectId}
	 	</foreach>
    )
  </select>
   <update id="updateSelfAppraiseByProjectId" parameterType="com.xinwei.process.entity.Project" >
    update tb_project set 
    self_appraise = #{selfAppraise,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateDepartLeaderAppraiseByProjectId" parameterType="com.xinwei.process.entity.Project" >
    update tb_project set 
    depart_leader_appraise = #{departLeaderAppraise,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateProcessInstanceByProjectID" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    project_process_instance_id = #{projectProcessInstanceId,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateChangeProcessInstanceId" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    change_process_instance_id = #{changeProcessInstanceId,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateMainCurrentState" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    main_current_state = #{mainCurrentState,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateMainPreviousState" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    main_previous_state = #{mainPreviousState,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateChangeCurrentState" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    change_current_state = #{changeCurrentState,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateChangePreviousState" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    change_previous_state = #{changePreviousState,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateReportCurrentState" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    report_current_state = #{reportCurrentState,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateChangeDataId" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    change_data_id = #{changeDataId,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
  <update id="updateState" parameterType="com.xinwei.process.entity.Project">
    update tb_project set 
    state = #{state,jdbcType=VARCHAR}
    where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
   <update id="updateProjectChangeByProjectId" parameterType="com.xinwei.process.entity.Project" >
    update tb_project
    set change_data_id = #{changeDataId,jdbcType=VARCHAR},
      change_process_instance_id = #{changeProcessInstanceId,jdbcType=VARCHAR}
      where project_id = #{projectId,jdbcType=BIGINT}
  </update>
  
</mapper>