<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="yes" name="apple-mobile-web-app-capable">
 		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
		<title>错误页面</title>
		
		<!-- Plugin Css -->
    	<link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    	<link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    	<link href="../plugins/material-design-preloader/md-preloader.css" rel="stylesheet" />
    	<link href="../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    	<link href="../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    	<link href="../plugins/node-waves/waves.min.css" rel="stylesheet" />
   	 	<link href="../plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    	<link href="../plugins/animate-css/animate.css" rel="stylesheet" />
	    
	    <!-- Custom Css -->
    	<link href="../css/custom.css" rel="stylesheet">
	    <link href="../css/themes/default/skin.css" rel="stylesheet" type="text/css" title="default"/>
		
		<style>
			#page-wrapper{
				margin: 0;
				padding: 15px;
			}
			.search-group .btn {
				margin-left: -1px!important;
				padding: 6px 12px!important;
				border: solid 1px #ccc!important;
			}
		</style>
	</head>
	<bod>
		<div class="page-loader-wrapper" ng-include="'../include/loading.html'"></div>
		<div class="overlay"></div>
		<!-- Page Loader -->
		<div id="wrapper">
			<div id="page-wrapper">
                <div class="row">
                	<div class="col-lg-12">
                		<div class="col-middle text-center clearfix">
                			<h1 class="error-number">403</h1>
                			<h4>抱歉！您没有权限访问该地址</h4>
                			<p>请联系系统管理员配置地址权限！</p>
                			<!-- <div class="mid_center clearfix">
				                <h3>搜索</h3>
				                <div class="search-group">
				                	<div class="search-inline">
				                		<input type="text" class="form-control" placeholder="搜索..." />
				                		<span class="btn-group"><button type="button" class="btn btn-default waves-effect"><i class="fa fa-search"></i></button></span>
				                	</div>
				                </div>
				            </div> -->
                		</div>
                	</div>
                	<!-- /.col-lg-12 -->
                </div>
                <!-- / .row -->
			</div>
			<!-- / #page-wrapper -->
		</div>
		<!-- / #wrapper -->
	</body>
	<!-- Plugin Js -->
    <script src="../plugins/jquery/jquery-2.2.4.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angular/angular.min.js"></script>
    <script src="../plugins/ocLazyLoad/ocLazyLoad.min.js"></script>
    <script src="../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="../plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="../plugins/node-waves/waves.js"></script>
    <script src="../plugins/sweetalert/sweetalert.min.js"></script>
    <script src="../js/ui/dialogs.js"></script>
    <script src="../js/ui/modals.js"></script>
    <script src="../js/ui/notifications.js"></script>
    <script src="../js/ui/tooltips-popovers.js"></script>
    <script src="../js/ui/load_resize.js"></script>
  
</html>
