<!-- / .col-12 -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="decisionCommittee" btn-permission="Approve:committee">
	<div class="row p-t-5 p-b-5 clearfix" ng-show="setCommiteeFlag">
    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left">决策委员会意见：</div>
    	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5">
   			<ul class="margin-0 padding-0 hide">
    			<li><span class="font-bold col-red">不同意</span><span class="p-l-10">同意通过申请</span><span class="p-l-10">2017-01-08</span></li>
     		</ul>
      		<div class="form-group">
				<div class="form-line">
					<div class="radio">
	              		<div class="radio-inline">
	              			<input name="group1" type="radio" class="with-gap radio-col-blue" value="同意" id="radio_1" ng-model="suggestion.suggestionFlag"/>
	                  		<label for="radio_1">同意</label>
	              		</div>
	             		<div class="radio-inline">
	             			<input name="group1" type="radio" class="with-gap radio-col-blue" value="不同意" id="radio_2" ng-model="suggestion.suggestionFlag"/>
	                 		<label for="radio_2">不同意</label>
	             		</div>
	               </div>
				</div>
			</div>
  			<div class="form-group m-b-0">
            	<div class="form-line">
                     <textarea rows="4" id="caucus" class="form-control no-resize" placeholder="请输入您的评审意见..." ng-model="suggestion.suggestionDescription"></textarea>
                 </div>
            </div>
    	</div>
   </div>
   <div class="row p-t-20 p-b-5 clearfix" >
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-r-5 form-control-label" class="align-right"><label>附件</label></div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-l-5">
			<div class="form-group">
	               <div class="form-line">
	                   <div class="file-group">
						<input type="text" name="fileName" id="submitMaterialMetaphaseInput" class="form-control" placeholder="选择文件...">
						<input type="button" value="选择文件" class="btn btn-primary">
						<input type="file" name="file" id="submitMaterialMetaphase" onchange="uploadButtonSubmit('submitMaterialMetaphase',this);">
					</div>
	               </div>
	           </div>
		</div>
	</div>
   <div class="p-t-15 align-center">
			                <button type="button" class="btn btn-success waves-effect m-r-5"  ng-click="submitApproval()" id="submmitButton">提交</button>
			                <button type="button" class="btn btn-primary waves-effect m-l-5" ng-click="cancelMyapplySeeWin();">关闭</button> 
			                <!-- committeeSuggestionDate();managerSuggestionDate() -->
			                <!-- 操作按钮结束 -->
		                </div>
</div>