<meta charset="UTF-8">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<!-- 部门经理提交项目评价 -->
	<div class="row clearfix">
		<div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
			<div class="form-group m-b-0">
                <div class="form-line">
                    <textarea rows="4" class="form-control no-resize" placeholder={{projectAndLeaderAppraise}}  ng-model="$parent.deparEvaluateContent"></textarea>
                </div>
            </div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
	</div>
	<div class="p-t-15 align-center">
			                <button type="button" class="btn btn-success waves-effect m-r-5"  ng-click="submitApproval()" id="submmitButton">提交</button>
			                <button type="button" class="btn btn-primary waves-effect m-l-5" ng-click="cancelMyapplySeeWin();">关闭</button> 
			                <!-- committeeSuggestionDate();managerSuggestionDate() -->
			                <!-- 操作按钮结束 -->
		                </div>
</div>

