<meta charset="UTF-8">
<div class="col-lg-12">
	<!-- <div class="search-group">
		<button id="tablePost_Save" type="button" class="btn btn-primary" onClick="tableSave('tablePost')">保存</button>
	</div> -->
	<div class="table-responsive m-b-0">
		<table id="tablePost" class="table table-bordered table-striped m-b-0">
	          <tbody>  
	           <tr data-index="11">
	                <td width="16%" class="align-right"><label data-for="CPU"></label>CPU</td>
	                <td width="84%"><div id="CPU" class="innDiv pre-wraplittle" data-datename="CPU" data-editable="edit"></div></td>
	            </tr>
	            <tr data-index="12">
	                <td class="align-right"><label data-for="memory"></label>内存</td>
	                <td><div id="memory" class="innDiv pre-wraplittle" data-datename="memory"  data-editable="edit"></div></td>
	            </tr>
	            <tr data-index="13">
	                <td class="align-right"><label data-for="bandWidth"></label>带宽</td>
	                <td><div id="bandWidth" class="innDiv pre-wraplittle" data-datename="bandWidth" data-editable="edit"></div></td>
	            </tr>
	            <tr data-index="14">
	                <td class="align-right"><label data-for="serversNumber"></label>服务器数量</td>
	                <td><div id="serversNumber" class="innDiv pre-wraplittle" data-datename="serversNumber" data-editable="edit"></div></td>
	            </tr>
	            <tr data-index="15">
	                <td class="align-right"><label data-for="UpgradeTime"></label>升级需要的时间</td>
	                <td><div id="UpgradeTime" class="innDiv pre-wraplittle" data-datename="UpgradeTime"  data-editable="edit"></div></td>
	            </tr>
	            <tr data-index="16">
	                <td class="align-right"><label data-for="otherConditions"></label>其它条件</td>
	                <td><div id="otherConditions" class="innDiv pre-wraplittle" data-datename="otherConditions" data-editable="edit"></div></td>
	            </tr>
	            </tbody>
	     </table>
	</div>
</div>
<div class="col-lg-12">
	<div class="row p-t-20 clearfix" >
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-r-0 form-control-label"><label>项目计划附件</label></div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-l-10">
			<div class="form-group" style="margin-bottom:0;">
	               <div class="form-line">
	                   <div class="file-group">
						<input type="text" name="fileName" id="submitMaterialMetaphaseInput" class="form-control" placeholder="选择文件...">
						<input type="button" value="选择文件" class="btn btn-primary">
						<input type="file" name="file" id="submitMaterialMetaphase" onchange="fileUpload('submitMaterialMetaphase',this);">
					</div>
	               </div>
	           </div>
		</div>
	</div>
</div>
<div class="col-lg-12 text-right">
    <hr />
    <button class="btn btn-warning waves-effect m-r-8 m-w-80" ng-click="chooseStepType(1);"  ng-show="stepParam.previous">上一步</button>
    <button class="btn btn-success waves-effect m-r-8 m-l-8 m-w-80" ng-click="chooseStepType(0);" ng-show="stepParam.next">下一步</button>
    <button class="btn btn-primary waves-effect m-r-8 m-l-8 m-w-80" ng-click="chooseStepType(2);" onClick="tableEditSave('tablePost');getAllData()" ng-show="stepParam.submit">提交</button>
</div>
<script src="../../js/process_global/createProject/applyPost.js" type="text/javascript"></script>
<script src="../../js/process_global/fileUploadConfig.js" type="text/javascript"></script>
