<meta charset="UTF-8">
<div class="modal-dialog" ng-controller="myDataController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" ><span translate="COOMARTS_MANAGE.CREATE_DEPARTMENT_RELEASE.SPECIFY"></span>{{dataListTittle}}</h4>
        </div>
        <div class="modal-body">       	
        	<div class="row clearfix">
        		<div class="col-lg-12">
        			<div class="row p-b-15">
        				<div class="col-lg-12 p-b-15">
        					<div class="search-group">
                           		<div class="search-inline">
                            		<input type="search" class="form-control" placeholder="{{'COOMARTS_MANAGE.TIPS.ENTER'|translate}}" ng-model="queryKey">
                                	<span class="btn-group"><button type="button" class="btn btn-primary waves-effect" ng-click="query()" translate="COOMARTS_MANAGE.BUTTON_NAME.SEARCH"></button></span>
                            	</div>
                           	</div>
        				</div>
        				<div class="col-lg-2 p-r-0"><span translate="COOMARTS_MANAGE.CREATE_DEPARTMENT_RELEASE.SELECTED"></span></div>
        				<div class="col-lg-11 p-l-0">
		        			<div id="chosenAll">
		        				<span class="chosen" ng-show="showFlag"></span>
		        				<span class="chosen" ng-repeat="data in arrList"><i class="fa fa-times-circle-o" ng-click="deleteOnly(data.id)"></i>{{data.firstname}}</span>
		        			</div>
        				</div>
        			</div>
        		</div>
        		<div class="col-lg-12"></div>
        	</div>
        	<div class="table-responsive m-b-0">
        		<table id="tablePost" class="table table-bordered table-striped m-b-0">
        			<thead>
        				<tr>
        					<th width="4%" data-name="onlyList">
        						<label class="checkbox-inline">
									<input type="radio" id="che_2"  class="filled-in chk-col-blue" ng-click="setCheckAll('che_2')"/>
									<label for="che_2" ></label>
								</label>
							</th>
        					<!--  <th ng-repeat="i in titleList" class="text-center">{{i}}</th>-->
        					<th translate="COOMARTS_MANAGE.TH_LIST.NAME"></th>
					        <th translate="COOMARTS_MANAGE.TH_LIST.AFFILIATED_DEP"></th>
					        <th translate="COOMARTS_MANAGE.TH_LIST.AFFILIATED_UNIT"></th>
        				</tr>
        			</thead>
        			<tbody id="box">
        				<tr ng-repeat="data in dataList">
        					<td width="4%" data-name="onlyList">
        						<label class="checkbox-inline">
        							<input type="checkbox" class="filled-in chk-col-blue" data-checkBoxname="listCheckbox" ng-click="checkOnly(data.id,data.firstname);" data-checkName="{{data.firstname}}" id="{{data.id}}" value="{{data.id}}" ng-checked="getChecked(data.id)">
        							<label for="{{data.id}}" data-forId="{{data.id}}" ></label>
        						</label>
        					</td>
        					<td width="16%">{{data.firstname}}</td>
        					<td width="40%">{{data.department}}</td>
        					<td width="40%">{{data.company_name}}</td>
        				</tr>
        				
        			</tbody>
        		</table>
        	</div>
			<div class="table-tips">
				<div class="choose-data align-center hide">
              		<span class="error-block">
              			<i class="fa fa-exclamation-triangle"></i>
              			<span translate="COOMARTS_MANAGE.TIPS.NO_QUERY_DATA"></span>
              		</span>
              	</div>
              	<div class="no-data align-center hide" id="tabNoData">
              		<span class="error-block">
              			<i class="fa fa-exclamation-triangle"></i>
              			<span translate="COOMARTS_MANAGE.TIPS.NO_DATA"></span>
              		</span>
              	</div>
			</div>
			<!-- / .table-tips -->
			<div class="row hide" id="tabPageNav">
  			    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      				<div class="checkAll-group">&nbsp;</div>
      			</div>
      			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      				<div class="dataTables_paginate">
      					<ul class="pagination pagination_reset" id="pageNav" data-ng-init="showInFo()"></ul>
      				</div>
      			</div>
			</div>
			<!-- / .tabPageNav -->
        </div>
        <div class="modal-footer align-center">
            <button type="button" class="btn btn-success m-r-5" ng-click="confirmSelectAssignPersion()" translate="COOMARTS_MANAGE.BUTTON_NAME.CONFIRM">确认</button>
            <button type="button" class="btn btn-primary m-l-5" data-dismiss="modal" translate="COOMARTS_MANAGE.BUTTON_NAME.BACK">返回</button>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
	$("input[data-checkname='111']").prop("checked","checked");
})

</script>
