<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDbRealm" />
		<property name="cacheManager" ref="shiroEhcacheManager" />
	</bean>

	<!-- 項目自定义的Realm -->
	<bean id="shiroDbRealm" class="com.xinwei.security.shiro.ShiroDbRealm" depends-on="userDao, userRoleDao,rolePermissionDao">
		<property name="userService" ref="userServiceImpl"/>
		<property name="userRoleService" ref="userRoleServiceImpl"/>
		<property name="rolePermissionService" ref="rolePermissionServiceImpl"/>
		<property name="useCaptcha" value="true"/>
	</bean>



	<!-- <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">  
	    <property name="targetObject" ref="shiroFilter"/>  
	    <property name="targetMethod" value="setFilterChainResolver"/>  
	    <property name="arguments" ref="filterChainResolver"/>  
	</bean>  -->


	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login/tologin" />
		<!-- <property name="successUrl" value="/index" /> -->
		 <property name="unauthorizedUrl" value="/views/error.html" /> 
		
		
        <property name="filters">
	        <map>
	        	<!-- <entry key="authc" value-ref="baseFormAuthenticationFilter"/> -->
	        	<entry key="permissionFilter" value-ref="permissionControllerFilter"/>
	        	
	        	<!-- 是否启用验证码检验 -->
	             <!-- <entry key="authc" value-ref="captchaFormAuthenticationFilter"/> --> 
	        </map>
        </property>
		<property name="filterChainDefinitions">
			<value>
				/js/** = anon
				/css/** = anon
				/styles/** = anon
				/images/** = anon
				/plugins/** = anon
				/fonts/** = anon
				/login/getContextPath = anon
				/login/timeout = anon
				/logout = logout
				/hessian/** = anon
				/login/tologin = anon
				/management/user/register = anon
				/company/createCompany = anon
				/company/selectAllCompanyIdsAndNames = anon
				/company/verifyCompanyName = anon
				/views/demo = anon
				/views/userRegister.html = anon
				/views/** = permissionFilter,user
				/management/business/* = anon
				/management/** = permissionFilter,user
		    	/** = permissionFilter,user
		 	</value>
		</property>
	</bean>

	<!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<!-- 
	<bean id="captchaFormAuthenticationFilter" class="com.xinwei.security.shiro.CaptchaFormAuthenticationFilter"/> -->
	<bean id="baseFormAuthenticationFilter" class="com.xinwei.security.shiro.BaseFormAuthenticationFilter"/>
	
	<bean id="permissionControllerFilter" class="com.xinwei.filter.PermissionControllerFilter" />
	
	
</beans>