<!DOCTYPE html>
<html data-ng-app="App">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="yes" name="apple-mobile-web-app-capable">
 		<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
        <meta http-equiv="Expires" content="-1">
	    <meta http-equiv="Cache-Control" content="no-cache">
	    <meta http-equiv="Pragma" content="no-cache">
		<title translate="PROJECT_TITLE"></title>
		
		<!-- Plugin Css -->
    	<link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    	<link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    	<link href="../../plugins/material-design-preloader/md-preloader.css" rel="stylesheet" />
    	<link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    	<link href="../../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    	<link href="../../plugins/node-waves/waves.min.css" rel="stylesheet" />
   	 	<link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    	<link href="../../plugins/animate-css/animate.css" rel="stylesheet" />
    	
	    <!-- Custom Css -->
    	<link href="../../css/custom.css" rel="stylesheet">
	    <link href="../../css/themes/default/skin.css" rel="stylesheet" type="text/css" title="default"/>
	    <link href="../../css/personal.css" rel="stylesheet">
	</head>
	<body ng-controller="app">
		<div class="page-loader-wrapper" ng-include="'../include/loading.html'"></div>
		<div class="overlay"></div>
		<!-- Page Loader -->
		<div id="wrapper">
			<div class="header" ng-include="'../include/header.html'"></div>
			<div class="menus" ng-include="'../include/leftMenu.html'"  ></div>
			<div id="page-wrapper" ng-controller="myOperator" ng-hide="mainpage_flag">
				<div class="panel">
					<div class="panel-body">
						<h3 class="title"><small translate="MENU_MY_PROJECT_MS"></small></h3>
						<h4 class="title small" translate="PERSONAL_SMALL_MANAGER"></h4>
						<div class="operatorBox">
							<div class="media m-b-50">
								<div class="media-left p-r-30"><i class="bg-apply"></i></div>
								<div class="media-body p-t-8">
									<h3 class="title" translate="PERSONAL_TITLE_PROJECT_APPLY"></h3>
									<h4 class="title" translate="PERSONAL_TITLE_SUBMIT_INFO"></h4>
									<p class="p-t-5" translate="PERSONAL_TITLE_APPLY_INFO_CONTENT"></p>
									<button type="button" class="btn btn-primary waves-effect" translate="BTN_APPLY" onClick="javascript:projectApply();"></button>
								</div>
							</div>
							<!-- /.media -->
							<div class="media m-b-50">
								<div class="media-left p-r-30"><i class="bg-monitor"></i></div>
								<div class="media-body p-t-8">
									<h3 class="title" translate="PERSONAL_TITLE_DATA_MONITOR"></h3>
									<h4 class="title" translate="PERSONAL_TITLE_UPLOAD_REPORT"></h4>
									<p class="p-t-5" translate="PERSONAL_TITLE_UPLOAD_REPORT_CONTENT"></p>
									<button type="button" class="btn btn-primary waves-effect" translate="BTN_UPLOAD" onClick="javascript:projectMonitor();"></button>
								</div>
							</div>
							<!-- /.media -->
							<div class="media">
								<div class="media-left p-r-30"><i class="bg-finish"></i></div>
								<div class="media-body p-t-8">
									<h3 class="title" translate="PERSONAL_TITLE_PROJECT_END"></h3>
									<h4 class="title" translate="PERSONAL_TITLE_UPLOAD_REPORT"></h4>
									<p class="p-t-5" translate="PERSONAL_TITLE_UPLOAD_REPORT_CONTENT"></p>
									<button type="button" class="btn btn-primary waves-effect" translate="BTN_VIEWS" onClick="javascript:projectEnd();"></button>
								</div>
							</div>
							<!-- /.media -->
						</div>
					</div>
					<!--/.panel-body -->
				</div>
				<!-- /panel-->
			</div>
			<!-- / #page-wrapper -->
		</div>
		<!-- / #wrapper -->
	</body>
	<!-- Bootstrap JS -->
    <script src="../../plugins/jquery/jquery-2.2.4.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../plugins/angular/angular.min.js"></script>
    <script src="../../plugins/angular/angular-translate.min.js"> </script>
    <script src="../../plugins/angular/angular-translate-loader-static-files.min.js"></script> 
  
    <script src="../../plugins/ocLazyLoad/ocLazyLoad.min.js"></script>
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="../../plugins/bootstrap-select/js/i18n/defaults-zh_CN.js"></script>
    <script src="../../plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="../../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="../../plugins/node-waves/waves.js"></script>
    <script src="../../plugins/sweetalert/sweetalert.min.js"></script>
    <script src="../../js/ui/dialogs.js"></script>
    <script src="../../js/ui/modals.js"></script>
    <script src="../../js/ui/notifications.js"></script>
    <script src="../../js/ui/tooltips-popovers.js"></script>
    <script src="../../js/ui/load_resize.js"></script>
    
 	<!-- Global JS -->
	<script src="../../js/server/server.js" type="text/javascript"></script>
	<script src="../../js/cookie.js" type="text/javascript"></script>
	<script src="../../js/skin.js" type="text/javascript"></script>
	<script src="../../js/config/config_skin.js" type="text/javascript"></script>
	<script src="../../js/errcode/errcode.js" type="text/javascript"></script>
	<script src="../../js/App.js" type="text/javascript"></script>
	<script src="../../js/home.js" type="text/javascript"></script>
	<!-- 业务信息 -->
	<script src="../../js/process_global/myOperator.js" type="text/javascript"></script>
</html>
