<meta charset="UTF-8">
<form action="#" method="post" id="addorEditUser" class="form-horizontal" ng-init="initAddUser()">
	<div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="idType"><span style="color:#ff0000;">*</span><span translate="USER_MANAGE.USER_MANAGEMENT.ADD_EDIT_USER.COMPANY"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
		            <select id="companyslist" name="companysIds" class="selectpicker show-tick form-control"  data-live-search="true" data-error="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.MUST_SELECT_TIPS'|translate}}" data-tip="{{'USER_MANAGE.USER_MANAGEMENT.ADD_EDIT_USER.SELECT_COMPANY'|translate}}"></select>
                </div>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-success waves-effect m-r-8" data-toggle="modal" data-target="#addCompanyModal">添加</button> -->
	</div>
	<div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label r-chk-rad">
            <label for="username"><span style="color:#ff0000;">*</span><span translate="USER_MANAGE.USER_MANAGEMENT.ACCOUNT"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<input type="text"  maxlength="20"  class="form-control" ng-model="userInfo.username" name="userInfo.username" id="username"   />
                </div>
            </div>
        </div>
    </div>
	<div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label r-chk-rad">
            <label for="firtname"><span style="color:#ff0000;">*</span><span translate="USER_MANAGE.USER_MANAGEMENT.NAME"></span>：</label>
        </div>
        <!-- <div class="col-sm-5 col-xs-8" ng-show="(lang=='en-US')">						
			<div class="col-md-4 firstname-col">
				<div class="row clearfix">
	                    <div class="form-group">
	                        <div class="form-line">
	                             <input type="text" class="form-control" ng-model="userInfo.firstname" name="userInfo.firstname" id="firstname" data-error="请输入名字" data-tip="请输入名字" />
	                        </div>
	                    </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row clearfix">
	                    <div class="form-group">
	                        <div class="form-line">
	                            <input type="text" class="form-control" ng-model="userInfo.lastname" name="userInfo.lastname" id="lastname"  />
	                        </div>
	                   </div>
				</div>
			</div>
		</div> -->
		<div class="col-sm-5 col-xs-8">						
             <div class="form-group">
                 <div class="form-line">
                      <input type="text" class="form-control"  maxlength="20" ng-model="userInfo.firstname" name="userInfo.firstname" id="firstname" data-error="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.ENTER_NAME'|translate}}" data-tip="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.ENTER_NAME'|translate}}" />
                 </div>
             </div>
		</div>
	</div>
	
	<div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="rolelist"><span style="color:#ff0000;">*</span><span translate="USER_MANAGE.PERSONAL_DATA.GENDER"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<div class="radio">
                		<div class="radio-inline">
                			<input class="with-gap radio-col-blue"  name="radio" id="man" ng-model="userInfo.sex" ng-init="userInfo.sex=0" value="0" type="radio"  checked="true">
                        	<label for="man">{{'USER_MANAGE.PERSONAL_DATA.MALE'|translate}}</label>
                		</div>
                		<div class="radio-inline">
                			<input class="with-gap radio-col-blue" name="radio" id="woman" ng-model="userInfo.sex" value="1" type="radio">
                        	<label for="woman">{{'USER_MANAGE.PERSONAL_DATA.FEMALE'|translate}}</label>
                		</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	
	<div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="rolelist"><span style="color:#ff0000;">*</span><span translate="USER_MANAGE.USER_MANAGEMENT.ADD_EDIT_USER.SELECT_ROLE"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<select id="rolelist" name="roleIds" class="selectpicker show-tick form-control" multiple data-live-search="false" data-error="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.LAST_SELECT_ROLE'|translate}}" data-tip="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.SELECT_ROLE'|translate}}" ngChange="userEdit.roleChangeBind();">
                		
	            	</select>
                </div>
            </div>
        </div>
    </div>
	
	<div class="row clearfix" ng-show="addFlag">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="rolelist"><span style="color:#ff0000;">*</span><span translate="USER_MANAGE.USER_MANAGEMENT.ADD_EDIT_USER.PASSWORD"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<input type="password"  maxlength="15" class="form-control" ng-model="userInfo.password" name="userInfo.password" id="password"  />
                </div>
            </div>
        </div>
    </div>
    
    <div class="row clearfix" ng-show="addFlag">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="rolelist"><span style="color:#ff0000;">*</span><span translate="USER_MANAGE.USER_MANAGEMENT.ADD_EDIT_USER.CONFIRM_PASSWORD"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<input type="password" class="form-control" maxlength="15" ng-model="userInfo.confirmpwd" name="userInfo.confirmpwd" id="confirmpwd" data-error="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.PASSWORD_ERROR'|translate}}" data-tip="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.ENTER_PASSWORD_NEXT'|translate}}" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="rolelist"><span style="color:#ff0000;">*</span><span translate="USER_MANAGE.PERSONAL_DATA.PHONE_NUM"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<input  type="text" maxlength="32" class="form-control" ng-model="userInfo.phone" name="userInfo.phone" id="phone"  data-error="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.MUST_ENTER_PHONE'|translate}}" data-tip="{{'USER_MANAGE.USER_MANAGEMENT.TIPS.ENTER_PHONE'|translate}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="rolelist"><span translate="USER_MANAGE.PERSONAL_DATA.BIRTH_DATE"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<div id="datetimepicker" class="input-append date" >
				        <input id="datetimepicker_input" type="text" class="form-control" readonly="readonly" name="userInfo.birthday" ng-model="userInfo.birthday">
				        <span class="add-on">
				          <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="fa fa-calendar"></i>
				        </span>
					</div>
                </div>
            </div>
        </div>
    </div>
    
        
    <div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="rolelist"><span translate="USER_MANAGE.PERSONAL_DATA.MAIL"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<input type="email" maxlength="32" class="form-control" ng-model="userInfo.email" name="userInfo.email" id="email"  />
                </div>
            </div>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="idType"><span translate="USER_MANAGE.PERSONAL_DATA.ID_TYPE"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<select  id="cardType"  class="form-control selectpicker show-tick" data-ng-init="generateTypeOptions();">
					</select>	
                </div>
            </div>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-sm-4 col-xs-4 form-control-label  r-chk-rad">
            <label for="cardno"><span translate="USER_MANAGE.PERSONAL_DATA.ID_NUM"></span>：</label>
        </div>
        <div class="col-sm-5 col-xs-8">
            <div class="form-group">
                <div class="form-line">
                	<input id="cardno" type="text" maxlength="32" class="form-control" ng-model="userInfo.cardno" name="userInfo.cardno"  />
                </div>
            </div>
        </div>
    </div>
</form>
<!-- <div class="modal fade" id="addCompanyModal" tabindex="-1" role="dialog">
    <div ng-include="'../include/userCenterTemp/addCompany.html'"></div>
</div> -->
<script>
	$(function () {
	    $('#rolelist').selectpicker();
	    $('#idType').selectpicker();
	    $('#datetimepicker').datetimepicker({
	   	 	endDate:new Date(),//最大值选今天
         	pickTime:false,//屏蔽小时分秒面板
	    	collapse: true
	    });
	});
</script>