<meta charset="UTF-8">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="projectName"></label><span translate="USER_MANAGE.COMPANY_MANAGE.ADD_EDIT_COMPANY.COMPANY_NAME"></span>：</div>
		<div data-datename="projectName" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="companyInfo.companyName"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="startTime"></label><span translate="USER_MANAGE.COMPANY_MANAGE.COMPANY_LIST.ID_TYPE"></span>：</div>
		<div data-datename="startTime" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="companyInfo.certificateType"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="telno"></label><span translate="USER_MANAGE.COMPANY_MANAGE.COMPANY_LIST.CONTACT"></span>：</div>
		<div data-datename ="telno" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="companyInfo.linkMan"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="projectCycle"></label><span translate="USER_MANAGE.COMPANY_MANAGE.ADD_EDIT_COMPANY.CONTACT_PHONE"></span>：</div>
		<div  data-datename="projectCycle" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="companyInfo.linkTel"></div>
	</div>
</div>
<!-- / .col-6 -->
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><span translate="USER_MANAGE.COMPANY_MANAGE.ADD_EDIT_COMPANY.COMPANY_NAME"></span>：</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="companyInfo.companyProperty"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="projectName"></label><span translate="USER_MANAGE.COMPANY_MANAGE.COMPANY_LIST.ID_NUM"></span>：</div>
		<div data-datename="endTime" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="companyInfo.certificateId"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="email"></label><span translate="USER_MANAGE.COMPANY_MANAGE.ADD_EDIT_COMPANY.CONTACT_MAIL"></span>：</div>
		<div data-datename="email" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="companyInfo.email"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="projectCategory"></label><span translate="USER_MANAGE.COMPANY_MANAGE.ADD_EDIT_COMPANY.GREATER"></span>：</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="companyInfo.createPerson"></div>
	</div>
</div>
<!-- / .col-6 -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="taskDescribe"></label><span translate="USER_MANAGE.COMPANY_MANAGE.ADD_EDIT_COMPANY.REGISTE_ADDRESS"></span>：</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5" ng-bind="projectExtInfo.registerAddress"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="taskbackground"></label><span translate="USER_MANAGE.COMPANY_MANAGE.ADD_EDIT_COMPANY.COMPANY_ADDRESS"></span>：</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5" ng-bind="projectExtInfo.businessAddress"></div>
	</div>
</div>
