<meta charset="UTF-8">
<div class="modal-dialog modal-sm" ng-controller="deleteCtrl">
    <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" translate="USER_MANAGE.USER_MANAGEMENT.DELETE_USER.TITLE"></h4>
        </div>
        <div class="modal-body">
          	<p class="align-center" translate="USER_MANAGE.USER_MANAGEMENT.DELETE_USER.CONFIRM_DELETE"></p>
        </div>
        <div class="modal-footer align-center">
        	<button type="button" class="btn btn-success m-r-8 m-w-80 waves-effect" data-dismiss="modal" ng-click="deleteUser()" translate="USER_MANAGE.BUTTON_NAME.CONFIRM"></button>
            <button type="button" class="btn btn-primary m-l-8 m-w-80 waves-effect" data-dismiss="modal" translate="USER_MANAGE.BUTTON_NAME.CANCEL"></button>
        </div>
    </div>
</div>
