<meta charset="UTF-8">
<div class="row clearfix panel-search " ng-controller="userSearch" ng-init="getRoleList();">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="row clearfix">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 form-control-label">
	            <label for="email_address_2"><span translate="USER_MANAGE.USER_MANAGEMENT.ACCOUNT"></span>/<span translate="USER_MANAGE.USER_MANAGEMENT.NAME"></span>：</label>
	        </div>
	        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
	            <div class="form-group">
	                <div class="form-line">
	                    <input type="text" class="form-control"  ng-model="searchForm.username" name="searchForm.username" placeholder="{{'USER_MANAGE.PERSONAL_DATA.ACCOUNT_NAME'|translate}}" />
	                </div>
	            </div>
	        </div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div class="row clearfix">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 form-control-label">
	            <label for="email_address_2"><span translate="USER_MANAGE.USER_MANAGEMENT.ROLE"></span>：</label>
	        </div>
	        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
	            <select id="rolelist" ng-model="selectedRole" data-size="5" class="form-control selectpicker show-tick" ng-options="role.name for role in roleList" data-live-search="true">
                	<option value="">{{'USER_MANAGE.USER_MANAGEMENT.TIPS.SELECT_ROLE'|translate}}</option>	
	            </select>
	        </div>
		</div>
	</div>
	
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 align-center">
		<button class="btn btn-success waves-effect m-r-8 m-b-15 m-t-15" ng-click="searchUsers()" data-permission="UserManage:query" translate="USER_MANAGE.BUTTON_NAME.QUERY"></button>
		<button class="btn btn-primary waves-effect m-l-8 m-b-15  m-t-15" ng-click="searchReset()" translate="USER_MANAGE.BUTTON_NAME.RESET"></button>
	</div>
	<!-- / .col-md-4 -->
</div>
	