<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinwei.security.dao.RoleDao">

	<!-- 开启本mapper的namespace下的二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />

	<!-- 查询单条记录 -->
	<select id="get" parameterType="java.lang.Long" resultType="Role" useCache="true">
		SELECT * FROM security_role WHERE id = #{id}
	</select>

	<select id="findAll" resultType="Role" useCache="true">
		SELECT * FROM security_role
	</select>

	<select id="findByPageCount" resultType="java.lang.Long">
		select count(1) from
		security_role
	</select>

	<select id="findByPage" resultType="Role">
		SELECT * FROM security_role order by id limit #{startRow},#{pageSize}
	</select>



	<select id="findByRolename" parameterType="java.lang.String"    resultType="Long">
		SELECT count(1) FROM security_role WHERE name = #{name}
		<if test="id != null  and id !=0">
			 	and id != #{id}
	 	 </if>
	</select>

	<insert id="save" parameterType="Role" useGeneratedKeys="true"
		keyProperty="id">
		insert into security_role(name,description) values (#{name},#{description})
	</insert>


	<update id="update" parameterType="Role">
		update security_role
		set name=#{name},description=#{description}
		where id=#{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from security_role where id=#{id}
	</delete>


</mapper>






	