<meta charset="UTF-8">

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="projectName"></label><span translate="COOMARTS_MANAGE.TD_LIST.PRO_NAME"></span></div>
		<div data-datename="projectName" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="project.projectName"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="startTime"></label><span translate="COOMARTS_MANAGE.TD_LIST.START_TIME"></span></div>
		<div data-datename="startTime" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="project.startTime"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="telno"></label><span translate="COOMARTS_MANAGE.TD_LIST.CONTACT_NUMBER"></span></div>
		<div data-datename ="telno" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="project.telno"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="projectCycle"></label><span translate="COOMARTS_MANAGE.TD_LIST.PRO_CYCLE"></span></div>
		<div  data-datename="cycleType" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="project.CycleType"></div>
	</div>
</div>
<!-- / .col-6 -->
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-init="baseInfoInit()">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><span translate="COOMARTS_MANAGE.TD_LIST.PRO_RESPONSIBLE"></span></div>
		<div data-datename="projectManagerName" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="project.projectManagerName"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="projectName"></label><span translate="COOMARTS_MANAGE.TD_LIST.END_TIME"></span></div>
		<div data-datename="completeTime" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="project.endTime"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="email"></label><span translate="COOMARTS_MANAGE.TD_LIST.E_MAIL"></span></div>
		<div data-datename="email" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="project.email"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-r-5 align-right"><label data-for="projectCategory"></label><span translate="COOMARTS_MANAGE.TD_LIST.PRO_CATEGORY"></span></div>
		<div data-datename="subcategory" class="col-lg-8 col-md-8 col-sm-8 col-xs-8 p-l-5" ng-bind="project.subcategory"></div>
	</div>
</div>
<!-- / .col-6 -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none;">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="taskDescribe"></label>项目概述：</div>
		<div data-datename="taskDescribe" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5" ng-bind="projectExtInfo.taskDescribe"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix" style="display:none;">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="taskbackground"></label>项目背景：</div>
		<div  data-datename="taskbackground"  class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5" ng-bind="projectExtInfo.taskbackground"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix" style="display:none;">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="taskgoal"></label>项目目标：</div>
		<div data-datename="taskgoal" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5" ng-bind="projectExtInfo.taskgoal"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix" style="display:none;">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="taskDanger"></label>项目预期的风险：</div>
		<div data-datename="taskDanger" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5" ng-bind="projectExtInfo.taskDanger"></div>
	</div>
	<div class="row p-t-5 p-b-5 clearfix" style="display:none;">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="taskcreate"></label>项目创新性及推广性：</div>
		<div data-datename="taskcreate" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5" ng-bind="projectExtInfo.taskcreate"></div>
	</div>
</div>
<!-- / .col-12 -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-datename="taskplan" style="display:none;">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="tableRuleInner"></label>项目实施计划及输出：</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5">
	 		<div class="table-responsive m-b-0">
	 			<table class="table table-striped table-bordered m-b-0">
			        <thead>
			        	<tr>
			           		<th width="10%">时间</th>
			           		<th width="30%">内容</th>
			           		<th width="25%">输出</th>
			           		<th width="15%">输出的文档</th>
			           </tr>
			        </thead>
			        <tbody><!--tbody的class名不能为‘show’,否则表格不能自动撑开-->
			       	<tr ng-repeat="data in Taskplan">
			                <td>{{data.planTime}}</td>
			               	<td>{{data.planContext}}</td>
			               	<td>{{data.planOutPUT}}</td>
			               	<td>{{data.planOutWord}}</td>
									</tr>
			        </tbody>
		    	</table>
			</div>
		</div>
	</div>
</div>
<!-- / .col-12 -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-datename="projectCosts" style="display:none;">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="tableRule"></label>项目预算：</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5">
			<div class="table-responsive m-b-0">
	 			<table class="table table-striped table-bordered m-b-0">
	        		<thead>
	        			<tr>
					        <th width="5%">序号</th>
					        <th width="35%">支出名称</th>
					        <th width="10%">单价</th>
					        <th width="8%">数量</th>
					        <th width="10%">小计</th>
					        <th width="32%">备注</th>
	    				</tr>
	        		</thead>
	        		<tbody><!--tbody的class名不能为‘show’,否则表格不能自动撑开-->
	       				<tr ng-repeat="data in ProjectCosts">
			            	<td>{{$index+1}}</td>
			                <td>{{data.payName}}</td>
			               	<td>{{data.payPrice}}</td>
			               	<td>{{data.payNumber}}</td>
			               	<td>{{data.paySbutotal}}</td>
			               	<td>{{data.payRemarks}}</td>
							</tr>
	        		</tbody>
			        <tfoot class="hide">
			        	<tr>
			        		<td>合计</td>
			        		<td>&nbsp;</td>
			        		<td>&nbsp;</td>
			        		<td>&nbsp;</td>
			        		<td>&nbsp;</td>
			        		<td>&nbsp;</td>
			        	</tr>
			        </tfoot>
	    		</table>
   			</div>
		</div>
	</div>
</div>
<!-- / .col-12 -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-datename="projectTaskDetail" style="display:none;">
	<div class="row p-t-5 p-b-5 clearfix">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-r-5 align-right xs-aling-left"><label data-for="tablePost"></label>项目需要的准备条件：</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5">
			<div class="table-responsive m-b-0">
	 			<table class="table table-striped table-bordered m-b-0">
	 				<!-- <thead>
	        			<tr>
					        <th width="15%">CPU</th>
					        <th width="15%">内存</th>
					        <th width="15%">带宽</th>
					        <th width="15%">服务器数量</th>
					        <th width="15%">升级需要的时间</th>
					        <th width="25%">其它条件</th>
	    				</tr>
	        		</thead> -->
				    <tbody><!--tbody的class名不能为‘show’,否则表格不能自动撑开-->
				    	<tr>
				    		<td width="20%" class="font-bold">CPU</td>
				    		<td>{{projectTaskDetail.CPU}}</td>
				    	</tr>
				    	<tr>
				    		<td>内存</td>
				    		<td>{{projectTaskDetail.memory}}</td>
				    	</tr>
				    	<tr>
				    		<td>带宽</td>
				    		<td>{{projectTaskDetail.bandWidth}}</td>
				    	</tr>
				    	<tr>
				    		<td>服务器数量</td>
				    		<td>{{projectTaskDetail.serversNumber}}</td>
				    	</tr>
				    	<tr>
				    		<td>升级需要的时间</td>
				    		<td>{{projectTaskDetail.UpgradeTime}}</td>
				    	</tr>
				    	<tr>
				    		<td>其它条件</td>
				    		<td>{{projectTaskDetail.otherConditions}}</td>
				    	</tr>
				       	<!-- <tr >
					        <td>{{projectTaskDetail.CPU}}</td>
			                <td>{{projectTaskDetail.memory}}</td>
			               	<td>{{projectTaskDetail.bandWidth}}</td>
			               	<td>{{projectTaskDetail.serversNumber}}</td>
			               	<td>{{projectTaskDetail.UpgradeTime}}</td>
			               	<td>{{projectTaskDetail.otherConditions}}</td>
						</tr> -->
	        		</tbody>
    			</table>
   			</div>
		</div>
	</div>
</div>
<!-- 文件列表 -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-l-10" ng-if="newApplyAttachmentShow">
	<div class=" row p-t-5 p-b-5  clearfix">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-r-5 align-right xs-aling-left"><label data-for="tablePost"></label><span translate="COOMARTS_MANAGE.TD_LIST.PRO_PREPARATION"></span></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p-l-5">
			<div class="table-responsive m-b-0">
	 			<table class="table table-striped table-bordered m-b-0">
			        <thead>
			        	<tr>
			           		<th width="10%" translate="COOMARTS_MANAGE.TH_LIST.SUBMIT_TIME">提交时间</th>
			           		<th width="80%" translate="COOMARTS_MANAGE.TH_LIST.FILE_NAME">文件名称</th>
			           		<th width="10%" translate="COOMARTS_MANAGE.TH_LIST.OPERATE">操作</th>
			           </tr>
			        </thead>
			        <tbody>
						<tr  ng-repeat="data in newApplyAttachment">
							<td>{{data.uploadTime}}</td>
							<td>{{data.originalFilename}}</td>
							<td><a href="#" filePath="{{data.path}}"  ng-click="attachDownLoad(data.annexName);" translate="COOMARTS_MANAGE.BUTTON_NAME.DOWMLOAD">下载</a></td>
						</tr>
			        </tbody>
			    </table>
		   </div>
		</div>
	</div>
</div>
<!-- / .col-12 -->