<meta charset="UTF-8">
<div class="col-lg-12">
	<!-- <div class="search-group">
		<button id="tablePost_Save" type="button" class="btn btn-primary" onClick="tableSave('tablePost')">保存</button>
	</div> -->
	<div class="table-responsive m-b-0" style="display:none">
		<table id="tablePost" class="table table-bordered table-striped m-b-0" >
	          <tbody>  
	           <tr data-index="11">
	                <td width="16.66666666%" class="align-right"><label data-for="CPU"></label>CPU</td>
	                <td class=" pre-wrap" id="CPU" width="84%" data-datename="CPU" data-editable="edit" colspan="3"></td>
	            </tr>
	            <tr data-index="12">
	                <td class="align-right"><label data-for="memory"></label>内存</td>
	                <td class="pre-wrap" id="memory" data-datename="memory"  data-editable="edit" colspan="3" ></td>
	            </tr>
	            <tr data-index="13">
	                <td class="align-right"><label data-for="bandWidth"></label>带宽</td>
	                <td class="pre-wrap" id="bandWidth" data-datename="bandWidth" data-editable="edit" colspan="3"></td>
	            </tr>
	            <tr data-index="14">
	                <td width="15%" class="align-right"><label data-for="serversNumber"></label>服务器数量</td>
	                <td class="pre-wrap" id="serversNumber" width="85%" data-datename="serversNumber" data-editable="edit" colspan="3"></td>
	            </tr>
	            <tr data-index="15">
	                <td class="align-right"><label data-for="UpgradeTime"></label>升级需要的时间</td>
	                <td class="pre-wrap" id="UpgradeTime" data-datename="UpgradeTime"  data-editable="edit" colspan="3" ></td>
	            </tr>
	            <tr data-index="16">
	                <td class="align-right"><label data-for="otherConditions"></label>其它条件</td>
	                <td class="pre-wrap" id="otherConditions" data-datename="otherConditions" data-editable="edit" colspan="3"></td>
	            </tr>
	            </tbody>
	     </table>
	</div>
</div>
<div class="col-lg-12">
	<div class="row p-t-20 p-b-5 clearfix" >
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-r-5 form-control-label" class="align-right"><label>项目计划附件</label></div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-l-5">
			<div class="form-group">
	               <div class="form-line">
	                  <div class="file-group">
						<!--input type="text" name="fileName" id="submitMaterialMetaphaseInput" class="form-control" placeholder="选择文件...">
						<input type="button" value="选择文件" class="btn btn-primary">
						<input type="file" name="file" id="submitMaterialMetaphase" onchange="fileUpload('submitMaterialMetaphase',this);"-->
					    <input type="text" name="fileName" id="fileName" class="form-control" placeholder="选择要上传的文件..." />
                   		<input type="button" value="选择文件" class="btn btn-primary"/>
                   		<input type="file" name="filefield" id="uploadFile" onchange="document.getElementById('fileName').value=this.value;uploadButtonSubmit('uploadFile',this)" />
					</div>
				   </div>
	           </div>
		</div>
	</div>
</div>
<div class="col-lg-12 text-right">
    <hr />
    <button class="btn btn-warning waves-effect m-r-8 m-w-80" ng-click="chooseStepType(1);"  ng-show="stepParam.previous">上一步</button>
    <button class="btn btn-success waves-effect m-r-8 m-l-8 m-w-80" ng-click="chooseStepType(0);" ng-show="stepParam.next">下一步</button>
    <button class="btn btn-primary waves-effect m-r-8 m-l-8 m-w-80" ng-click="chooseStepType(2);" onClick="tableEditSave('tablePost');getAllData()" ng-show="stepParam.submit">提交</button>
</div>
<script src="../../js/process_global/createProject/applyPost.js" type="text/javascript"></script>
<script src="../../js/process_global/fileUploadConfig.js" type="text/javascript"></script>
