<!DOCTYPE html>
<html lang="en" data-ng-app="App">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Manager system</title>
		<!-- Plugin Css -->
    	<link href="../../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    	<link href="../../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    	<link href="../../../plugins/material-design-preloader/md-preloader.css" rel="stylesheet" />
    	<link href="../../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    	<link href="../../../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    	<link href="../../../plugins/node-waves/waves.min.css" rel="stylesheet" />
   	 	<link href="../../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    	<link href="../../../plugins/animate-css/animate.css" rel="stylesheet" />
    	
	    <!-- Custom Css -->
    	<link href="../../../css/custom.css" rel="stylesheet">
	    <link href="../../../css/themes/default/skin.css" rel="stylesheet" type="text/css" title="default"/>
	</head>
	<body ng-controller="app">
		<div class="page-loader-wrapper">
		    <div class="loader">
		        <div class="md-preloader pl-size-md">
		            <svg viewbox="0 0 75 75">
		                <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
		            </svg>
		        </div>
		        <p>加载中，请稍后...</p>
		    </div>
		</div>
		<div class="overlay"></div>
		<!-- Page Loader -->
		<div id="wrapper">
			<div class="header" ng-include="'../../include/header.html'"></div>
			<div class="menus" ng-include="'../../include/leftMenu.html'"></div>
			<div id="page-wrapper">
				<div class="panel">
					<div class="panel-heading">
						<h2 class="panel-title">对话框示例</h2>
						<div class="dropdown">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-ellipsis-v"></i>
							</a>
							<ul class="dropdown-menu pull-right" role="menu">
							    <li><a href="javascript:void(0);">编辑</a></li>
							    <li><a href="javascript:void(0);">查看详细</a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						<div class="row clearfix min-height-550 js-sweetalert">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>一个基本信息</p>
                                <button class="btn btn-primary waves-effect" data-type="basic">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>标题与文本</p>
                                <button class="btn btn-primary waves-effect" data-type="with-title">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>一条成功的消息！</p>
                                <button class="btn btn-primary waves-effect" data-type="success">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>一条警告消息，附带一个函数 <b>确认</b> 按钮...</p>
                                <button class="btn btn-primary waves-effect" data-type="confirm">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>...通过传递一个参数,您可以为<b>取消</b>执行别的东西。</p>
                                <button class="btn btn-primary waves-effect" data-type="cancel">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>一条消息,该消息带有一个自定义图标</p>
                                <button class="btn btn-primary waves-effect" data-type="with-custom-icon">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>一个HTML消息</p>
                                <button class="btn btn-primary waves-effect" data-type="html-message">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>自动关闭定时器消息</p>
                                <button class="btn btn-primary waves-effect" data-type="autoclose-timer">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>替代的<b>提示</b>功能</p>
                                <button class="btn btn-primary waves-effect" data-type="prompt">点击我</button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <p>加载程序(例如AJAX请求)</p>
                                <button class="btn btn-primary waves-effect" data-type="ajax-loader">点击我</button>
                            </div>
                        </div>
					</div>
				</div>
				<!-- / .panel -->
			</div>
			<!-- / #page-wrapper -->
		</div>
		<!-- / #wrapper -->
	</body>
	<!-- Plugin Js -->
    <script src="../../../plugins/jquery/jquery-2.2.4.min.js"></script>
    <script src="../../../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../plugins/angular/angular.min.js"></script>
    <script src="../../../plugins/ocLazyLoad/ocLazyLoad.min.js"></script>
    <script src="../../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="../../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="../../../plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="../../../plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="../../../plugins/node-waves/waves.js"></script>
    <script src="../../../plugins/sweetalert/sweetalert.min.js"></script>
    <script src="../../../js/ui/dialogs.js"></script>
    <script src="../../../js/ui/modals.js"></script>
    <script src="../../../js/ui/notifications.js"></script>
    <script src="../../../js/ui/tooltips-popovers.js"></script>
    <script src="../../../js/ui/load_resize.js"></script>
    <script src="../../../plugins/angular/angular-translate.min.js"> </script>
	<script src="../../../plugins/angular/angular-translate-loader-static-files.min.js"> </script>
    <!-- Custom JS -->
    <script src="../../../js/server/server.js" type="text/javascript"></script>
	<script src="../../../js/cookie.js" type="text/javascript"></script>
	<script src="../../../js/skin.js" type="text/javascript"></script>
	<script src="../../../js/config/config_skin.js" type="text/javascript"></script>
	<script src="../../../js/App.js" type="text/javascript"></script>
	
	<!-- Home JS -->
	<script src="../../../js/home.js" type="text/javascript"></script>
</html>
